<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <label>Username</label>
        <input id="Uname" type="text"/>
        <br/>
        <label>password</label>
        <input id="Pass" type="password">
        <br/>
        <button type="submit">Login</button>
        <p>Don't have an account? Create one <a href="/register">here</a></p>

    </form>
    </div>
</body>
</html>