{% load static %}

<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - ERP NEXT APPLICATION</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" >
        <link rel="stylesheet" id="ample-style-css-1" href="{% static 'jquery-ui.css' %}" type="text/css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'jquery-ui.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

    </head>
    <body class="wide">
      <div>
        <header>
            <div class="header">
                <div class="main-head-wrap inner-wrap clearfix">
                    <div id="header-logo-image">
                        <a href="">
                                <img src="{% static 'images/Erp-logo.png' %}" width="50" height="42" alt="Home- ERP Application">
                        </a>
                    </div>
                     <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Wisdom Pet Medicine" rel="home">ERP - Next Application</a>
                            </h1>
                            <p> all in one app to manage all your stuff </p>
                     </div>
                     <p style="text-align:right">Welcome {{ user.username}}</pvstyle>
                </div>
            </div>


        </header>
      </div>

        {% block content %}
        {% endblock %}

    </body>
</html>