{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - ERP NEXT APPlICATION</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="ample-style-css-1" href="{% static 'jquery-ui.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="ample-style-css-2" href="{% static 'jquery-ui.min.css' %}" type="text/css" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script href="{% static jquery.ui.js %}"></script>
        <script href="{% static jquery.ui.theme.js%}"></script>
        <script href="{% static tabs.js%}"></script>

    </head>
    <body class="wide">
        <header>
            <div class="header">
                <div class="main-head-wrap inner-wrap clearfix">
                    <div id="header-logo-image">
                        <a href="/">
                                <img src="{% static 'images/Erp-logo.png' %}" width="50" height="42" alt="Home- ERP Application">
                        </a>
                    </div>
                     <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Wisdom Pet Medicine" rel="home">ERP - Next Application</a>
                            </h1>
                            <p> all in one app to manage all your stuff </p>
                     </div>
                </div>
            </div>
        </header>
       <div class="tab">
          <ul id = "tabs">
            <li><a href="#fragment1">One</a></li>
            <li><a href="#fragment2">Two</a></li>
            <li><a href="#fragment3">Three</a></li>
          </ul>
        </div>
      <div>

      </div>
    </body>


</html>