{% extends "base.html" %}
{% csrf_token %}
 {% block content %}
<div>
  <div>
  {% include "home.html" %}
  </div>
  <div>

 </div>
 <div>
   <h3>Task List</h3>
 </div>
  <div>
    <ul class="taskList">
            {% for todo in todos %} <!-- django template lang - for loop -->
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                    <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                    <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                </li>
            {% endfor %}
</ul>
 </div>

</div>

{% endblock %}