{% extends "base.html" %}
{% csrf_token %}
 {% block content %}

<!--<div>-->
<!--      <button class="tablink" id="openPage('Dash', this)">Dashboard</button>-->
<!--      <button class="tablink" onclick="openPage('Sales', this)" id="defaultOpen">Sales</button>-->
<!--      &lt;!&ndash;<button class="tablink" onclick="openPage('ToDo', this)">ToDo List</button>&ndash;&gt;-->
<!--      <a class="tablink" href="/ToDo">To Do List</a>-->
<!--      <button class="tablink" onclick="openPage('Cal', this)">Calender</button>-->


<!--</div>-->
{% endblock %}